{% extends "base.html" %}
{% block content %}


{% block nav %}
    <section>
    <div class="bg-white shadow-md shadow-gray-900 fixed z-50 top-0 left-0 w-full">

        <nav class="flex justify-between items-center h-16 px-4 md:px-12">

            <!-- LOGO -->
            <h3 class="text-xl md:text-2xl lg:text-3xl font-bold">
                Buil<span class="text-blue-500">Hub</span>
            </h3>

            <!-- MENU DESKTOP -->
            <div class="hidden md:flex items-center gap-6">

                <p class="bg-blue-100 text-blue-500 rounded-lg px-3 py-1 font-bold">
                    Tableau de bord
                </p>

                <a class="hover:text-blue-500 text-gray-600 flex items-center gap-2 relative"
                    href="{% url 'listeDemandes' %}">
                    Demandes disponibles

                    {% if unread_demandes > 0 %}
                    <span class="animate-ping duration-150 bg-red-500 text-white text-xs font-bold 
                 w-5 h-5 flex items-center justify-center rounded-full absolute -top-1 -right-2 shadow">
                        {{ unread_demandes }}
                    </span>
                    {% endif %}
                </a>

                <div class="flex items-center gap-1">
                    <a class="hover:text-blue-500 text-gray-600" href="#">
                        Messages
                    </a>
                    <span
                        class="bg-red-500 animate-ping duration-100 w-4 h-4 flex justify-center items-center text-white text-xs px-2 rounded-full">3</span>
                </div>

                <a class="text-gray-500 px-3 py-1 rounded-lg hover:text-blue-500 flex items-center gap-2 relative"
                    href="{% url 'devis' %}">
                    Mes devis

                    {% if unread_devis > 0 %}
                    <span class="animate-blink bg-red-500 text-white text-xs font-bold 
                                w-5 h-5 flex items-center justify-center rounded-full absolute -top-1 -right-2 shadow">
                        {{ unread_devis }}
                    </span>
                    {% endif %}
                </a>



                <!-- Profil -->
                <div class="flex items-center gap-2">
                    <div class="text-center">
                        <p class="text-gray-500 text-sm">{{ request.user.last_name|upper }}
                            {{ request.user.first_name|upper}}</p>
                        <p class="text-gray-400 text-xs">
                            Artisan en <span class="text-blue-500 font-bold">
                                {{ request.user.artisan.metier_principal }}
                            </span>
                        </p>
                    </div>
                    <div
                        class="w-10 h-10 flex items-center justify-center bg-blue-500 text-white font-bold rounded-full">
                        <a href="{% url 'edit_artisan' %}">
                            {{ request.user.last_name|slice:":1"|upper }}{{ request.user.first_name|slice:":1"|upper }}
                        </a>
                    </div>
                </div>

                <form action="{% url 'deconnexion' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="cursor-pointer hover:text-blue-500 text-gray-600">
                        Deconnexion
                    </button>
                </form>
            </div>

            <!-- HAMBURGER -->
            <button id="dash-menu-btn" class="md:hidden text-2xl">☰</button>


        </nav>

        <!-- MENU MOBILE -->
        <div id="dash-mobile-menu"
            class="hidden fixed top-16 right-0 w-3/4 max-w-sm h-screen bg-white shadow-lg p-6 flex-col gap-6 z-40">

            <p class="bg-blue-100 text-blue-500 rounded-lg px-3 py-1 font-bold">
                Tableau de bord
            </p>

            <a class="hover:text-blue-500 text-gray-600 flex items-center gap-2 relative"
                href="{% url 'listeDemandes' %}">
                Demandes disponibles

                {% if unread_demandes > 0 %}
                <span class="animate-ping duration-150 bg-red-500 text-white text-xs font-bold 
                 w-5 h-5 flex items-center justify-center rounded-full absolute -top-1 -right-2 shadow">
                    {{ unread_demandes }}
                </span>
                {% endif %}
            </a>

            <div class="flex items-center gap-1">
                <a class="hover:text-blue-500 text-gray-600" href="#">
                    Messages
                </a>
                <span
                    class="bg-red-500 animate-ping duration-100 w-4 h-4 flex justify-center items-center text-white text-xs px-2 rounded-full">3</span>
            </div>

            <a class="text-gray-500 px-3 py-1 rounded-lg hover:text-blue-500 flex items-center gap-2 relative"
                href="{% url 'devis' %}">
                Mes devis

                {% if unread_devis > 0 %}
                <span class="animate-blink bg-red-500 text-white text-xs font-bold 
                                w-5 h-5 flex items-center justify-center rounded-full absolute -top-1 -right-2 shadow">
                    {{ unread_devis }}
                </span>
                {% endif %}
            </a>

            <!-- Profil -->
            <div class="flex items-center gap-2">
                <div class="text-center">
                    <p class="text-gray-500 text-sm">
                        {{ request.user.first_name|upper}}{{ request.user.last_name|upper }}
                    </p>
                    <p class="text-gray-400 text-xs">
                        Artisan en <span class="text-blue-500 font-bold">
                            {{ request.user.artisan.metier_principal }}
                        </span>
                    </p>
                </div>
                <div class="w-10 h-10 flex items-center justify-center bg-blue-500 text-white font-bold rounded-full">
                    <a href="{% url 'edit_artisan' %}">
                        {{ request.user.last_name|slice:":1"|upper }}{{ request.user.first_name|slice:":1"|upper }}
                    </a>
                </div>
            </div>

            <form action="{% url 'deconnexion' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="cursor-pointer hover:text-blue-500 text-gray-600">
                    Deconnexion
                </button>
            </form>

        </div>

    </div>
</section>

<!-- SCRIPT -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btn = document.getElementById("dash-menu-btn");
        const menu = document.getElementById("dash-mobile-menu");

        btn.addEventListener("click", () => {
            if (menu.classList.contains("hidden")) {
                menu.classList.remove("hidden");
                menu.style.display = "flex";
                menu.style.flexDirection = "column";
            } else {
                menu.classList.add("hidden");
                menu.style.display = "";
                menu.style.flexDirection = "";
            }
        });
    });
</script>
{% endblock nav %}
    

<section class="bg-blue-100 min-h-screen py-20">
    <div class="ml-12 mr-12">

        <h2 class="text-2xl font-bold mb-6">Toutes les notifications</h2>

        <div class="space-y-4">

            {% for notif in notifications %}
            <div class="bg-white p-4 rounded-lg shadow">
                <p class="font-medium">{{ notif.message }}</p>
                <p class="text-xs text-gray-500">{{ notif.created_at|timesince }}</p>
            </div>
            {% empty %}
            <p>Aucune notification</p>
            {% endfor %}

        </div>

    </div>
</section>

{% endblock %}