{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="bg-white shadow-md shadow-gray-900 fixed z-50 top-0 left-0 w-full transition-colors duration-300">
    <nav class="flex justify-between items-center h-16 ml-12 mr-12">
        <div>
            <h3 class="sm:text-xl md:text-2xl lg:text-3xl font-bold">Build<span class="text-blue-500">Hub</span></h3>
        </div>
        <div class="flex list-none gap-x-10">
            <li>
                <a class="hover:text-blue-500 text-gray-600 nav-link sm:text-md md:text-lg lg:text-xl"
                    href="{% url 'home' %}">Retout a l'accueil</a>
            </li>

            </li>
        </div>
    </nav>
</div>

<p class="font-bold">Bonjour, {{ request.user.last_name }}</p>

<p>Vous avez demandé à réinitialiser votre mot de passe.</p>

<p>Cliquez sur ce lien :</p>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Réinitialiser mon mot de passe
</a>

<p>Si ce n'est pas vous, ignorez ce message.</p>

{% endblock content %}